build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: netlify
  content:
    - key: REACT_APP_BALLOT_ENDPOINT
      value: '30040'
      proxyPort: true
    - key: REACT_APP_EC_SERVER_ENDPOINT
      value: '30042'
      proxyPort: true
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Ishan Rai
lastUpdatedOn: 2023-01-04T06:06:24.710Z
