build:
  type: text
  content: |-
    #!/bin/sh
     
      
    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE  
deploy:
  type: netlify
  content:
    - key: REACT_APP_BALLOT_ENDPOINT
      value: /
      proxyPort: true
      port: '30040'
    - key: REACT_APP_EC_SERVER_ENDPOINT
      value: /
      proxyPort: true
      port: '30042'
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2023-01-12T12:08:09.253Z
