build:
  type: text
  content: |-
    #!/bin/sh
     
      
    docker build -f voter/Dockerfile -t voter:$GIT_COMMIT_ID voter 
    docker tag voter:$GIT_COMMIT_ID  voter:$ROOST_NAMESPACE  
deploy:
  type: netlify
  content:
    - key: REACT_APP_BALLOT_ENDPOINT
      value: '30040'
      proxyPort: true
    - key: REACT_APP_EC_SERVER_ENDPOINT
      value: '30042'
      proxyPort: true
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Divyesh Maheshwari
lastUpdatedOn: 2023-01-06T10:46:42.645Z
